# macOS
.DS_Store
# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
# Conda bundles
.envrc
.venv/
# Jupyter
*.nbconvert.ipynb
# Build/site
docs/_site/
docs/.jekyllignore
docs/.jekyll-cache/
docs/vendor/
docs/.bundle
# VSCode
.vscode/
